
{% extends 'base.html' %}
{% block content %}
    <div class="favs">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="fav-links">
                        <h3 style="color: #4f4f4f; font-size: 20px;">Profilim</h3>
                        <ul>
                            <li class="fav-item"><a style="color: #2DD06E;" href=""><img class="fav-img" src="https://muradaghazade.github.io/phones/img/shopping-cart-green.svg" alt="">Sifarişlərim</a></li>
                            <li class="fav-item"><a href=""><img class="fav-img" src="https://muradaghazade.github.io/phones/img/heart.svg" alt="">Favorilərim</a></li>
                            <li class="fav-item"><a href=""><img class="fav-img" src="https://muradaghazade.github.io/phones/img/person.svg" alt="">Şexsi melumatlar</a></li>
                            <li class="fav-item"><a href=""><img class="fav-img" src="https://muradaghazade.github.io/phones/img/pin.svg" alt="">Çatdırılma ünvanı</a></li>
                            <li class="fav-item"><a href=""><img class="fav-img" src="https://muradaghazade.github.io/phones/img/log-out.svg" alt="">Çıxış</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="container">
                        <h2 style="font-size: 20px; color: #4f4f4f; margin-top: 40px;">Sifarişlərim (4 məhsul)</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="order-card">
                                    <img width="300" style="margin-left: -29px;" src="./img/iphone_15_pro_natural_titanium_pdp_image_position-1__wwen-removebg-preview_1.png" alt="">
                                    <div class="order-info">
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Sifariş tarixi:</span>
                                            <p>12.04.2020</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Status:</span>
                                            <p>Yoldadir</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Ümumi məbləğ:</span>
                                            <p style="color: #DB2C66;">2400 $</p>
                                        </div>
                                        <div class="order-info-item">
                                            <button class="order-info-button">Sifarişin detalları</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="order-card">
                                    <img width="300" style="margin-left: -29px;" src="./img/iphone_15_pro_natural_titanium_pdp_image_position-1__wwen-removebg-preview_1.png" alt="">
                                    <div class="order-info">
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Sifariş tarixi:</span>
                                            <p>12.04.2020</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Status:</span>
                                            <p>Yoldadir</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Ümumi məbləğ:</span>
                                            <p style="color: #DB2C66;">2400 $</p>
                                        </div>
                                        <div class="order-info-item">
                                            <button class="order-info-button">Sifarişin detalları</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="order-card">
                                    <img width="300" style="margin-left: -29px;" src="./img/iphone_15_pro_natural_titanium_pdp_image_position-1__wwen-removebg-preview_1.png" alt="">
                                    <div class="order-info">
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Sifariş tarixi:</span>
                                            <p>12.04.2020</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Status:</span>
                                            <p>Yoldadir</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Ümumi məbləğ:</span>
                                            <p style="color: #DB2C66;">2400 $</p>
                                        </div>
                                        <div class="order-info-item">
                                            <button class="order-info-button">Sifarişin detalları</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="order-card">
                                    <img width="300" style="margin-left: -29px;" src="./img/iphone_15_pro_natural_titanium_pdp_image_position-1__wwen-removebg-preview_1.png" alt="">
                                    <div class="order-info">
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Sifariş tarixi:</span>
                                            <p>12.04.2020</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Status:</span>
                                            <p>Yoldadir</p>
                                        </div>
                                        <div class="order-info-item">
                                            <span style="font-size: 12px; color: #828282;">Ümumi məbləğ:</span>
                                            <p style="color: #DB2C66;">2400 $</p>
                                        </div>
                                        <div class="order-info-item">
                                            <button class="order-info-button">Sifarişin detalları</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   {% endblock   %}