
{% extends 'base.html' %}
{% block content %}
        <div class="register">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 style="font-size: 20px; text-align: center;">Qeydiyyat</h3>
                        <div class="socials">
                            <div class="fb-div">
                                <div class="facebook">
                                    <img style="margin-top: -2px;" src="https://muradaghazade.github.io/phones/img/google.svg" alt="">
                                </div>
                                <span>Facebook ilə</span>
                            </div>
                            <div class="fb-div">
                                <div class="google">
                                    <img style="margin-top: -2px;" src="https://muradaghazade.github.io/phones/img/facebook2.svg" alt="">
                                </div>
                                <span>Google ilə</span>
                            </div>
                        </div>
                        <p style="color: #bdbdbd; text-align: center;">və ya</p>
                        <form action="" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="reg-inp-cont">
                                <label for="name">Ad </label>
                                {{form.first_name}}
                                {{form.first_name.errors}}
                            </div>
                            <div class="reg-inp-cont">
                                <label for="name">Soyad</label>
                                {{form.last_name}}
                                {{form.last_name.errors}}
                            </div>
                            <div class="reg-inp-cont">
                                <label for="name">Username</label>
                                {{form.username}}
                                {{form.username.errors}}
                            </div>
                            <div class="reg-inp-cont">
                                <label for="name">Istifadeci email</label>
                                {{form.email}}
                                {{form.email.errors}}
                            </div>
                             <div class="reg-inp-cont">
                                <label for="name">Istifadeci sekli</label>
                                {{form.image}}
                                {{form.image.errors}}
                            </div>
                            <div class="reg-inp-cont">
                                <label for="name">Istifadeci bio</label>
                                {{form.bio}}
                                {{form.bio.errors}}
                            </div>
                            <div class="reg-inp-cont">
                                <label for="name">Şifrə</label>
                                {{form.password1}}
                                {{form.password1.errors}}
                            </div>
                            <div class="reg-inp-cont">
                                <label for="name">Şifrə təstiqi</label>
                                {{form.password2}}
                                {{form.password2.errors}}
                            </div>
                           
                             
                             
                            <div class="reg-inp-cont" style="flex-direction: row;">
                                <input type="checkbox">
                                <span style="margin-left: 5px;"><a href="">İstifadəçi şərtləri</a> ilə razıyam</span>
                            </div>

                            <div class="reg-inp-cont" style="flex-direction: row;">
                                <button type="submit" class="reg-btn">Qeydiyyat</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="illustrations">
                            <img style="margin-left: 20px;" src="https://muradaghazade.github.io/phones/img/undraw_mobile_devices_k1ok%201.svg" alt="">
                            <img class="dots" style="margin-left: -130px; margin-top: -70px;" src="https://muradaghazade.github.io/phones/img/Dot%20Grid.svg" alt="">
                        </div>
                        <div class="reg-log">
                            <p>Artıq hesabınız var? <a href="">Daxil olun</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock  %}