{% extends 'base.html' %}

 {% block content %}
  <hr style="background-color: #38ff87; margin-bottom: 0;">

  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for image in product.images.all %}
              <div class="carousel-item  {% if forloop.first %} active {% endif %}">
                <img class="d-block w-100"
                  src="{{image.image.url}}"
                  alt="First slide">
              </div>
              {% endfor %}
              
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h4 style="font-size: 20px;">{{product.model}}</h4>
          <div class="rating">
            <div class="stars">
              <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
              <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
              <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
              <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
              <img src="https://muradaghazade.github.io/phones/img/star2.svg" alt="">
              <span class="rating-span">(226)</span>
              <span style="color: #2D9CDB; margin-left: 5px; font-size: 14px;">57 rəy</span>
            </div>
          </div>
          <div class="price">
            <p class="card-price" style="height: 25px; font-size: 20px; margin-top: 20px;"> <span
                style="font-size: 16px; color: gray; text-decoration: line-through; margin-right: 5px;">$ {{product.price}}</span>
              ${{product.price}}</p>
          </div>

          <div class="colors">
            <span style="font-size: 14px; color: #343a40; margin-top: 5px;">Rəng:</span>
            <div class="all-colors">
              {% for color in product.color.all %}
              <div
                style="width: 35px; height: 35px; border-radius: 50%; border: 2px solid #f2f2f2; background-color:{{color.code}};">
               
              </div>
            {% endfor %}
            </div>
          </div>
          <div class="colors" style="border-bottom: 2px solid #F2F2F2; padding-bottom: 20px; margin-top: 10px;">
            <!-- <span style="font-size: 14px; color: #343a40; margin-top: 5px;">Yaddash:</span> -->
            <div class="storages-div" style="display: flex;">
              <p style="font-size: 14px; padding-top: 5px; margin-right: 22px;">Yaddaş: </p>
              {% for storage in product.storage.all  %}
              <div class="storages"
                style="width: 76px; text-align: center; padding-top: 5px; height: 36px; background-color: #4F4F4F; border-radius: 8px; border: none; margin-right: 22px; color: white;">
                {{storage }}  </div>
             {% endfor %}
            </div>
          </div>

          <div class="counter">
            <div class="minus-plus"><img src="https://muradaghazade.github.io/phones/img/plus%202.svg
              " alt=""></div>
            <div class="count">1</div>
            <div class="minus-plus"><img src="	https://muradaghazade.github.io/phones/img/plus%202%20(1).svg" alt=""></div>
          </div>
          <button class="basket-add"
            style="margin-top: 50px; border: none; border-radius: 8px; width: 197px; height: 48px; background-color: #2DD06E; color: white; margin-right: 28px;"><img
              src="https://muradaghazade.github.io/phones/img/white-cart.svg"
              style="margin-right: 16px; width: 20px; margin-top: -2px;" alt=""> Səbətə at</button>
          <button class="basket-add"
            style="border: 1px solid #2DD06E; border-radius: 8px; width: 197px; height: 48px; background-color: white; color: #2DD06E;"><img
              src="https://muradaghazade.github.io/phones/img/green-heart.svg"
              style="margin-right: 16px; width: 20px; margin-top: -2px;" alt="">İstək listinə at</button>
        </div>

      </div> 
      <div class="specs-comment">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="" role="presentation" style="margin-right: 150px;">
            <a style="color: rgb(189, 189, 189);" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Texniki Xüsusiyyətlər</a>
          </li>
          <li class="" role="presentation">
            <a style="color: rgb(189, 189, 189);" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Rəylər</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div style="margin-top: 50px; padding-left: 70px;" class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="tech-title">Əsas göstəricilər</h2>
                  <div class="tech-div">
                    <span class="tech-span">Model</span>
                    <span class="tech-span">{{product.model}}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Brand</span>
                    <span class="tech-span">{{ product.brand }}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Quruluşu</span>
                    <span class="tech-span">{{ product.form_factor }}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Operator sistemi</span>
                    <span class="tech-span">{{ product.operating_system }}</span>
                  </div>
                  <h2 class="tech-title" style="margin-top: 40px;">Əlavə göstəricilər</h2>
                  <div class="tech-div">
                    <span class="tech-span"> Rabitə texnologiyası</span>
                    <span class="tech-span">{{ product.cellular_technology }}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Nov</span>
                    <span class="tech-span">{{ product.display_type }}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Kamera</span>
                    <span class="tech-span">{{ product.camera }}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Ram</span>
                    <span class="tech-span">{{product.ram}}</span>
                  </div>
                  <h2 class="tech-title" style="margin-top: 40px;">Üstünlüklər</h2>
                  <div class="tech-div">
                    <span class="tech-span">Batarya</span>
                    <span class="tech-span">{{ product.battery }}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Davamliligi</span>
                    <span class="tech-span">{{product.water_and_dust_rating}}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Qarantiya</span>
                    <span class="tech-span">{{product.guarantee}}</span>
                  </div>
                  <div class="tech-div">
                    <span class="tech-span">Kategory</span>
                    <span class="tech-span">{{ product.category }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                 <h2 class="tech-title">Mehsul Haqqinda</h2>
                 <div class="info-div">
                   <p class="tech-span">{{product.description}}
                  </p>

                 </div>
                </div>
              </div>
            </div>


          </div>
          <div style="margin-top: 50px;" class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="comment">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <div class="comment-rating">
                      <h1 class="value">4</h1>
                      <div class="stars">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star2.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="comment-body">
                      <div class="title-div">
                        <h6 style="font-size: 20px;">Gunel Mammadova</h6>
                        <span style="font-size: 12px;">5 gün əvvəl</span>
                      </div>
                      <span style="font-size: 12px;">Yaddaş - 128, Rəng - Mavi</span>
                      <p style="margin-top: 15px; color: #4f4f4f;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente nesciunt excepturi sed non dolores vitae ex neque voluptatum officia facere nobis repudiandae ad, saepe quasi laudantium? Architecto dolor exercitationem id?</p>
                    </div>
                  </div>
                </div>
              </div>
              
  
                
            </div> 
            <div class="comment">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <div class="comment-rating">
                      <h1 class="value">4</h1>
                      <div class="stars">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star2.svg" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="comment-body">
                      <div class="title-div">
                        <h6 style="font-size: 20px;">Gunel Mammadova</h6>
                        <span style="font-size: 12px;">5 gün əvvəl</span>
                      </div>
                      <span style="font-size: 12px;">Yaddaş - 128, Rəng - Mavi</span>
                      <p style="margin-top: 15px; color: #4f4f4f;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente nesciunt excepturi sed non dolores vitae ex neque voluptatum officia facere nobis repudiandae ad, saepe quasi laudantium? Architecto dolor exercitationem id?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            <div class="comment">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <div class="comment-rating">
                      <h1 class="value">4</h1>
                      <div class="stars">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star.svg" alt="">
                        <img src="https://muradaghazade.github.io/phones/img/star2.svg" alt="">
                      </div>
                    </div>
                  </div>    
                  <div class="col-md-9">
                    <div class="comment-body">
                      <div class="title-div">
                        <h6 style="font-size: 20px;">Gunel Mammadova</h6>
                        <span style="font-size: 12px;">5 gün əvvəl</span>
                      </div>
                      <span style="font-size: 12px;">Yaddaş - 128, Rəng - Mavi</span>
                      <p style="margin-top: 15px; color: #4f4f4f;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente nesciunt excepturi sed non dolores vitae ex neque voluptatum officia facere nobis repudiandae ad, saepe quasi laudantium? Architecto dolor exercitationem id?</p>
                    </div>
                  </div>
                  
                </div>
              </div>
            
            
            
            
            
            
            
            
          </div>
          <div class="comment-form">
            <h6 style="font-size: 20px; margin-bottom: 70px;">Rəy Bildir</h6>
            <form action="" class="c-form">
              <div class="first-last">
                <div class="inp-div">
                  <label for="firstname">Ad</label>
                  <input class="inp" name="firstname" type="text" placeholder="Adınızı daxil edin">
                </div>
                <div class="inp-div">
                  <label for="lastname">Soyad</label>
                  <input class="inp" name="lastname" type="text" placeholder="Soyadınızı daxil edin">
                </div>
              </div>
              <div class="message-div">
                <div class="m-l-div" style="text-align: left; width: 94%;">
                  <label for="message">Rəyinizi yazın</label>
                </div>
                <textarea placeholder="Rəyinizi buraya yazın" class="message-inp" name="message" id=""></textarea>
              </div>
              <div class="btn-div">
                <button class="comment-btn">Rəyini bildir</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
   



{% endblock  %}